In [2]:
import pandas as pd
import numpy as np

In [5]:
def merge_forcage_piezo(forcage_file, merge_file ='dataset/static_attributes/piezo_characs.csv', output_file = None):
    df_forcage =  pd.read_csv('dataset/time_series/forçages/' + forcage_file + '.txt', 
                  sep=';', 
                  skiprows=85,
                  comment='#')
    df_forcage.columns = df_forcage.columns.str.strip()
    df_piezo_charachs =  pd.read_csv(merge_file,sep=';',encoding='latin-1')
    
    bss_id = df_piezo_charachs[df_piezo_charachs['limnit'] == forcage_file ]['BSS_ID'].values[0]
    
    df_piezo =  pd.read_csv("dataset/time_series/piezos/"+bss_id+".csv")
    
    df_piezo.head()

    df_piezo["date_mesure"] = (
        pd.to_datetime(df_piezo["date_mesure"])
        .dt.strftime("%Y%m%d")
        .astype("Int64")
    )

    df_piezo['Date'] = df_piezo['date_mesure'].astype('int64')
    #garder que les colonnes 'date_mesure' et 'niveau_nappe_eau'
    df_piezo = df_piezo[['Date', 'niveau_nappe_eau']]
    #join df_forcage et df_piezo sur la colonne 'date'
    df_merged = pd.merge(df_forcage, df_piezo, on='Date', how='inner')

    if(output_file != None):
        df_merged.to_csv(output_file, index=False)
        
    return df_merged
    
merge_forcage_piezo('X142000101')

,Date,Qls,Qmmj,Val_MD,Val_S,Val_Q,Val_M,Val_C,Val_I,Ptot,...,Vent,Humi,DLI,SSI,IHGR,SWI,SWE,TN,TX,niveau_nappe_eau
0,20020503,15300,3.517,-99,16,20,10,0,1,7.6,...,1.3,6.4,2734.7,1334.9,0.698,0.780,0.04,6.3,11.7,350.14
1,20020504,8350,1.919,-99,16,20,10,0,1,0.0,...,3.3,4.4,2480.2,1646.7,0.693,0.787,0.05,2.1,8.4,350.14
2,20020505,6690,1.538,-99,16,20,10,0,1,0.0,...,2.5,3.9,2292.9,1934.2,0.684,0.778,0.00,-0.4,9.1,350.09
3,20020506,5630,1.294,-99,16,20,10,0,1,0.0,...,2.5,4.5,2302.1,2284.9,0.678,0.768,0.00,2.7,10.2,350.06
4,20020507,4980,1.145,-99,16,20,10,0,1,0.1,...,3.2,4.1,2447.9,1306.2,0.668,0.758,0.00,5.2,16.1,350.05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6998,20220727,-99,-99.000,-99,-99,-99,-99,-99,-99,0.0,...,1.7,9.8,3086.4,2949.0,0.133,0.163,0.00,14.6,26.5,348.95
6999,20220728,-99,-99.000,-99,-99,-99,-99,-99,-99,0.0,...,1.4,9.2,3054.2,2866.9,0.128,0.160,0.00,15.2,26.4,348.94
7000,20220729,-99,-99.000,-99,-99,-99,-99,-99,-99,0.8,...,1.3,9.9,3029.2,2308.1,0.127,0.159,0.00,14.9,22.6,348.94
7001,20220730,-99,-99.000,-99,-99,-99,-99,-99,-99,0.0,...,1.8,8.3,3124.4,2733.7,0.123,0.156,0.00,14.1,25.5,348.95
7002,20220731,-99,-99.000,-99,-99,-99,-99,-99,-99,0.0,...,1.7,7.5,3134.8,2860.6,0.120,0.152,0.00,14.6,28.3,348.96